.profile-container {
  display: flex;
  margin: 0 auto;
  margin-top: 5vh;
  max-width: 60vw;
}

.profile-container img {
  height: 200px;
  border-radius: 5px;
  margin-right: 10px;
}

.profile-container .friends {
  margin-top: 10px;
}

.profile-container .profile-dropdown {
  display: flex;
}

.profile-container .image-input {
  margin-top: 10px;
}

.profile-container .back-to-dashboard {
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  text-decoration: none;
}

.profile-container a {
  text-decoration: none;
}

a,
a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
