.profile-name {
  letter-spacing: 0.3vw;
}

.logout-button {
  color: red;
  border: none;
  background: none;
}

.logout-button:hover {
  text-decoration: underline;
  color: rgb(255, 0, 0);
}
.search-nav {
  
}
