.login-container {
  padding: 50px;
  margin: 0 auto;
}

.register-account-container {
  margin-top: 4vh;
}

.login-container .span-login {
  margin-right: 0.5vw;
}

.login-container .button-container {
  margin-top: 2vh;
}

.login-container .error-span {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: red;
}
